<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <title>Drowsiness Detection</title>
</head>
<body>
	<nav class="navbar background">
        <ul class="nav-list">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('timeline')}}">Timeline</a></li>
            <li><a href="{{url_for('test')}}">Run</a></li>
            <!-- <li><a href="#contact">Contact Us</a></li> -->
        </ul>
    </nav>
    <div class="pimg1">
        <div class="container1">
  			<div class="title">DROWSINESS DETECTION SYSTEM</div>
  			<div class="subtitle"> The best drivers are aware that they must be beware. </div>
		</div>
    </div>
	
</body>
</html>
