<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/timeline.css')}}">
    <title>Drowsiness Detection</title>
</head>
<body>
    <section class="section section-dark">
        <div class="text-effect">
              <h1 class = "neon text-style">STAT ALERT!!</h1><br> 
        </div>
        <ul class="timeline">
                <!-- Item 1 -->
                    <li>
                        <div id="div1" class="direction-r r-div">
                            <div class="flag-wrapper">
                                <span class="flag">4,72,600</span>
                                
                            </div>
                            <div class="desc">In last 5 years, the number of average road accidents across India amounted to around <b>472 thousand</b>.</div>
                        </div>
                    </li>
                  
                    <!-- Item 2 -->
                    <li>
                        <div id="div2" class="direction-l l-div">
                            <div class="flag-wrapper">
                                <span class="flag">1,50,000</span>
                            </div>
                            <div class="desc">In last 5 years, the average number of people died in road accidents across India amounted to around<b>150 thousand</b></div>
                        </div>
                    </li>
    
                    <!-- Item 3 -->
                    <li>
                        <div id="div3" class="direction-r r-div">
                            <div class="flag-wrapper">
                                <span class="flag">4,77,300</span>
                            </div>
                            <div class="desc">In last 5 years, the average number of people injured in road accidents across India amounted to around<b>477 thousand</b></div>
                        </div>
                    </li>
    
                    <!-- Item 4 -->
                    <li>
                        <div id="div1" class="direction-l l-div">
                            <div class="flag-wrapper">
                                <span class="flag">9.5</span>
                            </div>
                            <div class="desc">Each year, drowsy driving accounts for about 100,000 crashes, 71,000 injuries, and 1,550 fatalities, according to the National Safety Council (NSC). Drowsy driving contributes to an estimated <b>9.5%</b> of all crashes.</div>
                        </div>
                    </li>
                  
                    <!-- Item 5
                    <li>
                        <div id="div2" class="direction-r r-div">
                            <div class="flag-wrapper">
                                <span class="flag">17</span>	
                            </div>
                            <div class="desc">Roughly around <b>17</b> accident-related deaths occur across India every hour. Fewer cops and empty roads at night, and sometimes even during the day seem to enable motorists to do away with the traffic rules. However, efforts were made to reduce these discrepancies. The police had equipped themselves with night vision speed guns to identify the culprits. Over speeding fine was increased in the amendment of the Motor Vehicles Act as well.</div>
                        </div>
                    </li> -->
    
                    <!-- Item 6 -->
                    <li>
                        <div id="div2" class="direction-r r-div">
                            <div class="flag-wrapper">
                                <span class="flag">27.7</span>	
                            </div>
                            <div class="desc">The rate of 'accidental deaths' per lakh population stood at <b>27.7</b> in 2020, down from 31.4 the previous year. India recorded 3,54,796 cases of road accidents during 2020 in which 1,33,201 people died and 3,35,201 were injured, the NCRB, which functions under the Union Ministry of Home Affairs, stated.</div>
                        </div>
                    </li>
    
                    <!-- Item 7 -->
                    <li>
                        <div id="div3" class="direction-l l-div">
                            <div class="flag-wrapper">
                                <span class="flag">3</span>
                            </div>
                            <div class="desc">India, ranks <b>3rd</b> in the number of road accident deaths across the 199 countries reported in the World Road Statistics, 2021.</div>
                        </div>
                    </li>
                  
                    <!-- Item 8
                    <li>
                        <div id="div2" class="direction-l l-div">
                            <div class="flag-wrapper">
                                <span class="flag">4,67,044</span>	
                            </div>
                            <div class="desc">A total of around<b>4,67,044</b> road accidents have been reported by States and Union Territories (UTs) in the calendar year 2018, claiming 1,51,417 lives and causing injuries to 4,69,418 persons</div>
                        </div>
                    </li> -->
    
                    
                    <div style="padding: 20px;">
                          <a href="{{url_for('test')}}">
                              <span>Let's Start</span>
                              <div class="liquid"></div>
                          </a>
                      </div>
                </ul>
                
          
          
      </section>
    	
</body>
</html>